*{
    background-color: white;
}
/*Header & Logo*/
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "poppins";
}

.rules{
    margin-left:20px;
}

/*Selection buttons area*/
.selections{
    display:flex;
    justify-content: center;
}

.selections{
    margin-top: 20px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 100ms;
}

.selections:hover{
    transform:scale(1.2);
}

/*results score area*/
.results {
    margin-top: 30px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'Poppins';
  }

/*score number*/
.result-score{
    margin-left: .1rem;
    font-size: 1rem;
    
}

/*Emphasize winner of a round*/
.result-selection{
    opacity: .5;

}

.result-selection.winner{
    opacity: 1;
    font-size: 1.5rem;

}